<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supreme OnlyFans</title>
    <link rel="stylesheet" href="/public/css/subcription.css">
</head>

<body>
    <h1>Welcome to Supreme FanGirl Pages</h1>

    <div class="row sup">
        <h4>Things that you will get</h4>
        <div class="col-5 supb">

            <p>Chat with popular Indian girls</p>
            <p>Chat with popular Instagram girls</p>
            <p>Chat with popular Youtuber girls</p>
            <p>Change of increase your Love</p>
        </div>
        <div class="col-md-4">
    
            <img src="https://images.unsplash.com/photo-1429277005502-eed8e872fe52?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
            alt="hornygirl" style="height: 200px;width: 400px;"
            />
        </div>
        <div>
            <h1>Start Chatiing now!!</h1>
            <!-- TODO:NOW I NEED TO MAKE SUPERMODALS -->
            

            <!-- END OF THE CHAT -->
        </div>
    </div>

    </div>



    <!-- NEED TO MAKE  A CHAT WITH SUPREME USER MODAL -->

</body>

</html>