<%- include('layouts/header.ejs'); -%>

<div class="homepagee">
    <section class="hero-area hero_V1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero1-carousel owl-carousel owl-theme">
                        <div class="item">
                            <div class="hero-text">
                                <h3>Connecting Conversations, Empowering Connections: Where Words Find Wings 💬✨</h3>
                                <p>Welcome to a world where every keystroke carries the promise of a new connection, and where your words truly find wings to soar. Start your journey today and experience the joy of meaningful conversations, right at your fingertips</p>
                                <div class="hero-btn">
                                    <a href="/dashboard" class="btn-style-a">START CHAT</a>
                                    <a href="/groups" class="btn-style-a">GROUP UP</a>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features-area">
        <div class="container">
            <div class="features-box wow fadeInUp" data-wow-delay=".15s">
                <div class="row">
                    <div class="col-md-3 no-pad wow fadeInUp" data-wow-delay=".25s">
                        <div class="single-features">
                            <div class="sf-icon">
                                <i class="flaticon-gym-1"></i>
                            </div>
                            <div class="sf-text">
                                <h4>Enhanced Communication Skills</h4>
                                <p>Chatting and flirting provide a platform to hone communication skills. Individuals learn to express themselvess and become better listeners.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 no-pad wow fadeInUp" data-wow-delay=".50s">
                        <div class="single-features">
                            <div class="sf-icon">
                                <i class="flaticon-heart"></i>
                            </div>
                            <div class="sf-text">
                                <h4>Healthy Life and Emotional Expression</h4>
                                <p>Flirting allows individuals to express their emotions and desires in a playful and light-hearted manner. It enables people to convey romantic or affectionate feelings.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 no-pad wow fadeInUp" data-wow-delay=".75s">
                        <div class="single-features">
                            <div class="sf-icon">
                                <i class="flaticon-muscle"></i>
                            </div>
                            <div class="sf-text">
                                <h4>Increased Confidence</h4>
                                <p>Successfully engaging in flirtatious conversations can boost self-confidence. Positive responses and genuine compliments received during flirting can make individuals feel good about themselves.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 no-pad wow fadeInUp" data-wow-delay=".99s">
                        <div class="single-features">
                            <div class="sf-icon">
                                <i class="flaticon-waist"></i>
                            </div>
                            <div class="sf-text">
                                <h4>Building Connections</h4>
                                <p>Flirting often leads to the formation of social and romantic connections. It helps people meet others who share similar interests, leading to potential friendships or romantic relationships.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-classes-better">
        <div class="container">
            <div class="row">
                <div class="col-md-5 no-pad wow fadeInLeft" data-wow-delay=".25s">
                    <div class="ocb-text-area">
                        <div class="ocb-title">
                            <h4>We Are Flirtters</h4>
                            <h3>Our Classes Are <span>Better Than</span> Others!</h3>
                        </div>
                        <div class="ocb-text">
                            <p> Flirting can be a source of entertainment and fun. It adds excitement to daily life, provides enjoyable interactions, and can be a way to unwind and enjoy social connections. </p>
                            <p>Flirting often includes witty and playful conversation. It might involve teasing, joking, or making humorous remarks to create a sense of fun and excitement.</p>
                            <a href="/dashboard" class="btn-style-a">LETS'S GO</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="ocb-img-area">
                        <div class="ocb-img wow fadeInRight" data-wow-delay=".35s">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-new-classes-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-titleV1">
                        <h3>Our New Classes</h3>
                        <p>Fitness, in my opinion, is a mental exercise more than just physical. want to become physically stronger, you'll need healthy.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 wow zoomIn" data-wow-delay=".15s">
                    <div class="single-classes">
                        <div class="scs-img">
                            <img src="https://images.unsplash.com/photo-1474291102916-622af5ff18bb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80"  class="homeos">
                        </div>
                        <div class="scs-hover">
                            <div class="scs-text">
                                <i class="flaticon-gym"></i>
                                <h4>Cultural Exchange</h4>
                                <p>In the era of online communication, flirting often happens across cultural boundaries..</p>
                                <a href="/dashboard" class="btn-style-b">START CHAT</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 wow zoomIn" data-wow-delay=".35s">
                    <div class="single-classes">
                        <div class="scs-img">
                            <img src="https://images.unsplash.com/photo-1484399172022-72a90b12e3c1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt>
                        </div>
                        <div class="scs-hover">
                            <div class="scs-text">
                                <i class="flaticon-gym"></i>
                                <h4>Entertainment and Fun</h4>
                                <p>Flirting can be a source of entertainment and fun. It adds excitement to daily life.</p>
                                <a href="class-details-1.html" class="btn-style-b">Get In Touch</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow zoomIn" data-wow-delay=".15s">
                    <div class="single-classes">
                        <div class="scs-img">
                            <img src="https://images.unsplash.com/photo-1475938476802-32a7e851dad1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80" alt>
                        </div>
                        <div class="scs-hover">
                            <div class="scs-text">
                                <i class="flaticon-gym"></i>
                                <h4>Learning Experience</h4>
                                <p>Engaging in conversations, whether casual or flirtatious, can be a learning experience.</p>
                                <a href="class-details-1.html" class="btn-style-b">Get In Touch</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 wow zoomIn" data-wow-delay=".35s">
                    <div class="single-classes">
                        <div class="scs-img">
                            <img src="https://images.unsplash.com/reserve/RONyPwknRQOO3ag4xf3R_Kinsey.jpg?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt>
                        </div>
                        <div class="scs-hover">
                            <div class="scs-text">
                                <i class="flaticon-gym"></i>
                                <h4>Teasing Playfulness</h4>
                                <p>Flirting can involve gentle teasing and playful behavior</p>
                                <a href="class-details-1.html" class="btn-style-b">Get In Touch</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="get-in-touch-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8 wow fadeInLeft" data-wow-delay=".25s">
                    <div class="gita-text">
                        <h3>Connecting Hearts, One Match at a Time. Find Love, Give Love. ❤️ #HelpingOthersFindLove!</h3>
                        <p>Remember that flirting is a social skill that can enhance interactions and relationships when done respectfully and in good faith.</p>
                        <a href="/dashboard" class="btn-style-a">START CHAT</a>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInRight" data-wow-delay=".35s">
                    <div class="gita-img">
                        <img src="assets/img/section-img/get-in-touch-1.png" alt>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer-area">
        <div class="footer-widget-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-widget footer-log-text">
                            <div class="footer-logo">
                                <img src="assets/img/common/logo.png" alt>
                            </div>
                            <div class="footer-text">
                                <p>Fitness starts at home. What you eat is what you will look, just as what you sow is what you reap. Eat good food: eat fruits, vegetables, healthy grains, and don't go for sweet.</p>
                                <p>You sow is what you reap. Eat good food: eat fruits, vegetables, healthy grains, and don't go for sweet and trite food.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="footer-widget">
                                    <h4>Menu</h4>
                                    <ul class="flinks">
                                        <li><a href="index.html">HOME</a></li>
                                        <li><a href="our-trainers.html">TRAINER</a></li>
                                        <li><a href="classes-1.html">CLASSES</a></li>
                                        <li><a href="about.html">ABOUT</a></li>
                                        <li><a href="services.html">SERVICES</a></li>
                                        <li><a href="schedule-1.html">SCHEDULE</a></li>
                                        <li><a href="blog-1.html">BLOG</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="footer-widget">
                                    <h4>Instagram</h4>
                                    <ul class="insta-img-list">
                                        <li>
                                            <img class="imgfoo" src="https://images.unsplash.com/photo-1445384763658-0400939829cd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt>
                                        </li>
                                        <li>
                                            <img  class="imgfoo" src="https://images.unsplash.com/photo-1448376561459-dbe8868fa34c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt>
                                        </li>
                                        <li>
                                            <img class="imgfoo" src="https://images.unsplash.com/reserve/RONyPwknRQOO3ag4xf3R_Kinsey.jpg?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt>
                                        </li>
                                        <li>
                                            <img class="imgfoo"src="https://images.unsplash.com/photo-1475938476802-32a7e851dad1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80" alt>
                                        </li>
                                        <li>
                                            <img class="imgfoo"src="https://images.unsplash.com/photo-1484399172022-72a90b12e3c1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt>
                                        </li>
                                        <li>
                                            <img class="imgfoo" src="https://images.unsplash.com/reserve/RONyPwknRQOO3ag4xf3R_Kinsey.jpg?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt>
                                        </li>
                                        <li>
                                            <img class="imgfoo" src="https://images.unsplash.com/photo-1460904577954-8fadb262612c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1990&q=80" alt>
                                        </li>
                                        <li>
                                            <img class="imgfoo" src="https://images.unsplash.com/photo-1445384763658-0400939829cd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt>
                                        </li>
                                        <li>
                                            <img class="imgfoo" src="https://images.unsplash.com/photo-1448376561459-dbe8868fa34c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-widget">
                            <h4>get updates:</h4>
                            <div class="fw-subscribe">
                                <form class="sf">
                                    <input type="text" placeholder="Enter Your Email">
                                    <button type="button" class="sf-btn"><i class="fas fa-long-arrow-alt-right"></i></button>
                                </form>
                            </div>
                            <h4>follow us:</h4>
                            <div class="follow-social">
                                <ul class="fsc-social">
                                    <li><a href="https://www.facebook.com/voidcoders"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://twitter.com/VoidCoders"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.linkedin.com/company/voidcoders/about/"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="https://www.pinterest.com/voidthemes/"><i class="fab fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright-text">
                            <p>© All Rights Reserved By AkatsukiOrganisation,2023</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>

<%- include('layouts/footer.ejs'); -%>