<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login-box">
        <h2>Register Form</h2>
        <form action="/register" method="post">
            <div class="user-box">
                <input type="text" name="name" placeholder="PlayBoiName">
                <label>Username</label>
            </div>
            <input type="file" name="image" required>
            <div class="user-box">
                <input type="email" name="email" placeholder="palyboi99@gmail.com">
                <label>Email</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" placeholder="***********">
                <label>Password</label>
            </div>
            <a type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <input type="submit" value="R E G I S T E R" id="subbtn">
            </a>
            <a href="/login">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Already PlayBoi?
            </a>
        </form>
    </div>
    <% if(typeof message !=='undefined' ){ %> 
        <p style="color:green;">
            <%= message %>
        </p>
        <% } %>
</body>
</html>




