<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Supreme model</title>
</head>
<body>
    <h1> Welcome the work of you is the chat with the user</h1>
    <h4>Now this works fine i guess</h4>
    <%= cuser.name %>

    <h5>Here are the request user <b><%= users.length %></b> </h5>
    
    <% for(let i=0;i<users.length;i++){
        %>
        <p><%= users[i]['name'] %></p>
    <%
    } %>

    <a href="/logouts"><span class="fa fa-sign-out mr-3"></span>Logout</a>
</body>
</html>