.sup{
    margin-top: 20px;
}
.supb{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.supb p{
    /* text-align: left; */
    color: #444;
    letter-spacing: 0.05em;
    margin: 0 0 0.4em;
    font-size: 1em;
  }